/* import font from Google CDN */
@import url('href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap"');


/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0;
    padding: 0;
}

/* If pseudo class :root is used, :root takes priority over html element */
/* When applied, font size of 5px takes priority over that of html */
/* :root{ font-size: 5px; } */

/* Here, html selector takes priority as root element over universal selector */
html, body{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.container{
    display: grid;
    grid-template-columns: [full--start] 0.6fr [center--end center--start] 0.4fr [full--end];
    grid-template-rows: repeat(6, min-content);
}

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
.desktop-nav{
    grid-column: full--start / full--end;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.desktop-nav > a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Set up logo styles */
.logo{
    height: 2rem;
    width: auto;
    padding-left: 1.5rem;
}

.logo-name{
    font-size: 1rem;
    text-transform: uppercase;    
}

.logo-name-bold{
    font-weight: bold;
    color: #484848;
}

.logo-name-thin{
    font-weight: 400;
    color: #aaa;
}

.nav-list{
    list-style: none;
    display: flex;
}

/* Set up navigation links' styles */
.nav-link{
    display: inline-block;
    text-decoration: none;
    color: #828282;
    font-size: 1rem;
}

.nav-item:not(:last-child){
    margin-right: 1rem;
}

.nav-item:last-child{
    margin-right: 1.5rem;
}

/* Set up header area */
.header-picture{
    background-color: #c8c8c8;
    display: flex;
}

.header-picture img{
    width: 100%;
    height: auto;
    padding: 2rem 0 2rem 1.5rem;
}

.header-content{
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}

.header-content div h1{
    font-size: 1.4rem;
    color: #484848;
}

.header-content div h2{
    font-size: 0.8rem;
    font-weight: 500;
    color: #484848;
    padding: 1rem 0;
}

.header-content div{
    display: block;
    width: 80%;
}

.header-content div a:link{
    display: block;
    width: 100%;
    align-self: stretch;
    margin: 1rem auto;
    padding: 0.5rem 0;
    background-color: #484848;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
}

/* hover effect for call to action link */
.header-content div a:hover{
    background-color: rgb(72, 72, 72, 0.5);
}

.header-content div a:visited, 
.header-content div a:active{
    color: #fff;
    text-decoration: none;
    background-color: #484848;
}

/* Set up practice section */
.practice{
    background-color: #f0f0f0;
    padding: 2rem 1.5rem;
}

.practice img{
    width: 100%;
    height: auto;
}

.practice h3{
    padding: 2rem 0;
    color: #484848;
}

.practice p{
    font-size: small;
    color: #484848;
}

.quote-name{
    display: block;
    margin: 2rem 0;
}

.events{
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
    padding-top: 1rem;
}

.event-block{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
    color: #484848;;
}

.event-block img{
    width: 100%;
    height: auto;
    padding: 1rem
}

.event-block-content{
    margin: 0 2rem;
}

.event-block-content h4{
    font-size: 1rem;
}

.event-block-content p{
    font-size: 0.8rem;
    padding: 0.25rem 0;
}

.event-block-content a:link{
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}

.event-block-content a:visited, 
.event-block-content a:active{
    color: #6c8fef;
    font-size: 0.8rem;
    text-decoration: none;
}

.event-block:last-child{
	background-color:#cecbcb;
}

/* Hide events mobile */
.events-mobile{
    display: none;
}

footer{
    display: flex;
    font-size: 0.8rem;
    grid-column: full--start/full--end;
    color: #303646;
    padding: 1rem 0 1.5rem 1.5rem; 
}

footer p{
    margin-right: auto;
}

footer ul{
    list-style: none;
    margin-right: 1.5rem;
    display: flex;
}

footer ul li:not(:last-child){
    margin-right: 1rem;
}

footer a:link{
    text-decoration: none;
    color: #303646;
}

footer a:hover{
    text-decoration: underline;
    color: rgba(143, 139, 139, 0.521) ;
}

footer a:active,
footer a:visited{
    text-decoration: none;
    color: #303646;
}
   
/* Start of styling Startlearning section */
/* ******************************* */


/* Set Startlearningsection's style */

    /*  FIX:
        You will need to create an id selector
        learning to style the container that
        hosts the cards for 'Start Learning'

        Used a class instead for learning
    */
    .learning{
        display: grid;
        /* grid-template-columns: full--start/full--end; */
        grid-column: full--start / full--end;
        padding: 2rem 4.5rem;
        background-color: #c8c8c8;
    }

    /* FIX: update the title style for learning-content */
    .learning-content{
        background-color: #c8c8c8;
        margin: 2rem auto;
    }

    /* FIX: update the title style for learning-content's title */
    .learning-content div h5{
        font-size: 2rem;
        color: #484848;
        padding: 2rem;
        text-align: center;
    }

    .learning-content div a:link{
        display: block;
        width: 100%;
        align-self: stretch;
        margin: 2rem auto;
        padding: 2rem 0;
        background-color: white;
        color: #484848;
        font-size: 0.8rem;
        text-decoration: none;
        text-align: left;
    }

    /* Set the showcasecontainer to list the projects, repeated in equal columns of 3s per fractional unit */
    .showcasecontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        width: 100%;
        height: auto ;
        /* padding: 2rem 0 2rem 1.5rem; */    /* FIX: hidden the padding, use that of id selector learing above */
    }
    
        /* Set the card background to white */
    .learningcard {
        font-size: small;
        background-color: white;
        border-bottom: 8px;
        border-bottom: 8px;
        padding-bottom: 24px;
    }
    
    /* Set the learning card h4 with a left padding of 16px*/
    /* FIX: Set the style for the card, use rem units instead */
    .learningcard h6{
        font-weight: bolder;
        padding-left: 1rem;
        font-size: xx-large; 
    }
    
    /* Set the learning card p tag with a left padding of 16px*/
    /* font size is relative to learning card */
    .learningcard p{
        padding-left: 16px;
        font-size: 0.8rem;
        }
    
    /* Set the image in the learning card */
    .learningcard img {
        display: block;
        border-top: 16px;
        border-top: 16px;
        margin-bottom: 24px;
        width: 100%;
        height: 180px;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-image: url("img/imgplaceholder.png");
    }
    
    /* Set the learningcard title's style (set the text to be uppercase) */
    .learningcard .scope {
        text-transform: none;
        padding-top: 16px;
        padding-bottom: 32px;
    } 
    
    /* FIX: target the style for the title COURSES */
    .learningcard .scope:not(:last-child) {
        font-size: large;
        font-weight: lighter;
        text-transform: none;
        padding: 0.5rem 1rem;
    }   

    
    /* Set the learning section grid container's content with a left padding */
    .learningcard h6, .learningcard p {
        padding-left: 16px;
    
    }
    
    /* Set mouseover effect for project card */
    .learningcard:hover {
    transition: 0.45s ease-out;
    transform: scale(1.05);
    }
    
    /* Set the link colour for project card */
    .learningcard a {
        text-decoration: none;
        color: gray;
        transform: scale(1.0);
    }
    
    /* Hide .learning-mobile */
    .learning-mobile{
        display: none;
    }
    
/* Set up thesis section */


.thesis{
    background-color: #f0f0f0;
    padding: 2rem 1.5rem;
}

.thesis-video {
    width: 100%;
    height: auto;
}

.thesis h7 {
    padding: 2rem 0;
    color: #484848;
}

.thesis p{
    font-size: small;
    color: #484848;
}

/* Set up exhibit section */
.exhibit{
    background-color: #f0f0f0;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
    padding-top: 1rem;
}

.exhibit-block{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    font-size: small;
    color: #484848;;
}

.exhibit-block img{
    width: 100%;
    height: auto;
    padding: 1rem
}

.exhibit-block-content{
    margin: 0 2rem;
}

.exhibit-block-content h8{
    font-size: 1rem;
}

.exhibit-block-content p{
    font-size: 0.8rem;
    padding: 0.25rem 0;
}

.exhibit-block-content:first-child{
	background-color:#cecbcb;
}


/** ********************** **/
/** End of Desktop Section **/


/** Start of Mobile Section **/
/** *********************** **/

.mobile-nav{
    display: none;
}

/* if the width of screen is 640px, aka 40rem */
@media screen and (max-width: 40rem ) {

    .mobile-nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-column: full--start / full--end;
        height: 4rem;
    }

    .desktop-nav{
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        
        /* max width: 100dvw */
        /* display: grid; */
        /* grid-template-columns: 1fr; */
    }
   
    .header-picture img{
        padding: 0;
        width: 100%;
        object-fit: cover;
    }

    .header-content{
        
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 2rem 1rem 2rem 1rem;
    }

    .header-content div h1{
        font-size: xx-large;
        padding: 0 0 2rem 0;
    }

    .header-content div h2{
        font-size: larger;
        padding: 0 0 1.5rem 0; 
    }

    .header-content div{
        display: block;
        width: 100%;
    }
    
    .header-content div a:link{
        display: block;
        width: 100%;
        align-self: stretch;
        background-color: rgb(72, 72, 72, 0.5);
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
    }
    
    /* hover effect for call to action link */
    .header-content div a:hover{
        background-color: #484848;
    }
    
    .header-content div a:visited, 
    .header-content div a:active{
        color: #fff;
        text-decoration: none;
        background-color: rgb(72, 72, 72, 0.5);
    }

    /* hide desktop version of practice */
    .practice{
        display: none;
    }

    .events{
        display: none;
    }

    .events-mobile{
        display: grid;
        padding: 1rem;
    }

    .events-mobile .event-block{
        display: grid;
        grid-template-columns: 1fr;
    }

    .events-mobile .event-block img{
        padding: 0;
    }

    .events-mobile .event-block-content{
        padding: 2rem 0 2rem 1rem;
        margin: 0;
    }

    footer{
        padding-top: 1.5rem;
    }

    footer p{
        padding: 1rem 0;
    }

    footer ul{
        display: none;
    }

    /* hide desktop version of class learning */
    .learning{
        display: none;
    }

    /* show mobile version of learning */

    .learning-mobile{
        display: grid;
        padding: 1rem;
    }

    /* Set the mobile view of the mobile learning content */
    .learning-mobile .learning-block-content{
        display: flex;
        grid-column: 1fr;
        flex-direction: column;
        background-color: #f0f0f0;
        align-items: start;
        color: #484848;
        padding: 1rem;
        margin-bottom: 0.5rem;
        font-size: x-large;
    }

    /* reset event block destop */
    .event-block:last-child{
        background-color:#fff;
    }

    .event-block{
        border-bottom: none;
    }



    /* hide mobile version of thesis exhibit */

    .thesis-exibit mobile{
        display: none
    }

}

 

/* *********************** */
/** End of Mobile Section **/
